
*{
    padding: 0px;
    margin: 0px;
}
.menubar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(162, 12, 12);
}
.menubar ul{
    text-align: center;
    display: inline-flex;
    list-style: none;
    color: white;
}
*{
    box-sizing: border-box;
}
.menubar ul li{
    text-indent: 50px;
    width: auto;
    margin: 15px;
    padding: 15px;
}
.menubar ul li a{
    text-decoration: none;
    color: white;
}
.menubar ul li:hover{
    background-color: rgb(199, 2, 2);
    border-radius: 3px;
}
i{
    float:left;
    height: 16px;
    width: 16px;
}
